.page__container_size_min{
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 48px;
}

@media screen and (max-width:1023px) {
  .page__container_size_min{
    padding: 0 24px;
  }
}

@media screen and (max-width:767px) {
  .page__container_size_min{
    padding: 0 16px;
  }
}